(function(p,c,d){Object.assign(p.split(".").reduce(function(c,s){return c[s]||(c[s]={})},c),d)})({{ .var }},typeof window!=="undefined"?window:typeof global!=="undefined"?global:new Function("return this")(),{{ .env }});
